body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135aeg, #d81b60, #003366);
  margin: 0;
  padding: 0;
  color: #4a4a4a;
}

header {
  background: linear-gradient(135deg, #d81b60, #003366);
  padding: 40px 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom: 4px solid #003366;
  position: relative;
}

header h1 {
  color: #fff;
  margin: 0;
  font-size: 48px;
  letter-spacing: 2px;
  font-family: 'Georgia', serif;
}

header .subtitle{
  color: #fff;
  margin: 5px 0;
  font-size: 24px; 
  font-family: 'Arial', sans-serif;
}

header .contact-info {
  color: #fff;
  margin: 5px 0;
  font-size: 18px; 
  font-family: 'Arial', sans-serif;
}

main {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
  flex-direction: column;
  background-color: #f3e5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-me {
  /*display: flex;
  justify-content: center;
  flex-direction: column;*/
  align-items: center;
  margin-bottom: 40px;
}

.about-text {
 /* max-width: 600px;
  text-align: left;*/
    width: 100%;
}

.about-text h2 {
  font-size: 36px;
  color: #d81b60;
}

.about-text p {
  font-size: 20px;
  line-height: 1.6;
}

.skills-interests {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 20px;
}

.skills,
.interests {
  flex: 1;
  margin: 0;
  text-align: center;
}

.skills h2,
.interests h2 {
  font-size: 24px;
  color: #d81b60;
  text-align: center;
}

.about-text p,
.skills p,
.interests p {
  font-size: 19px;
  line-height: 1.6;
}

.skills ul,
.interests ul {
  list-style-type: none;
  padding: 0;
}

.skills li,
.interests li {
  font-size: 19px;
  line-height: 1.6;
}

.project-gallery {
    margin-bottom: 40px;
    color: #d81b60;
}

.about-text h2,
.skills h2,
.interests h2 {
  font-size: 36px;
  color: #d81b60;
}

.project-gallery h2 {
  font-size: 36px;
  color: #d81b60;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.gallery-item {
  flex: 0 1 auto;
  /* width: 300px;*/
  max-width: calc(33.33% - 10px); 
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer; 
}

.gallery-item img {
  width: auto;
  height: 100%;
  /*max-width: 100%;*/
  max-height: 200px;
  /*display: block;*/
  object-fit: contain;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 80%;
  max-width: 900px;
  display: flex;
  flex-direction: row;
}

.modal-image {
  flex: 1;
  padding: 20px;
}

.modal-image img {
  max-width: 100%;
  max-height: 400px;
  margin-right: 20px;
}

.modal-details {
  flex: 1;
  padding: 20px;
  color: #333;
  max-width: 600px;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #333;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #d81b60;
  text-decoration: none;
  cursor: pointer;
}

.modal-details h3 {
  margin-top: 0;
}

.modal-details a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #d81b60;
  font-weight: bold;
}

.modal-details a:hover {
  text-decoration: underline;
}

footer {
  background: linear-gradient(135deg, #d81b60, #003366);
  padding: 20px 0;
  text-align: center;
  color: #fff;
  transition: background 0.3s ease;
}

footer:hover {
  background: linear-gradient(135deg, #d81b60, #003366);
}

.social-links {
  margin-top: 10px;
  text-align: center;
}

.social-link {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background-color: #d81b60;
  border-radius: 20px;
  padding: 8px 15px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.social-link:hover {
  background-color: #002244;
  transform: translateY(-2px);
}

.mySlides {
    display: none;
    width: 100%;
    height: auto;
    transition: opacity 0.5s ease;
}

.mySlides.show {
    display: block;
    opacity: 1;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px; 
  height: 60px; 
  color: white;
  font-weight: bold;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
  user-select: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  border-radius: 10px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev {
  left: -10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transform: translateY(-50%) scale(1.05); 
}

.prev:active, .next:active {
  transform: translateY(-50%) scale(1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}



.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover, .close:focus {
  color: #f44336; 
  text-decoration: none;
  cursor: pointer;
}

.modal-image {
    position: relative;
}

.slideshow-container {
  position: relative;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
