body {
  font-family: Sans-Serif;
  background-color: #111111ff;
}

h1, h3 {
  color: #fff;
}

p {
  color: #666;
}

nav{
    text-align: right;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px; 
}

nav ul li:last-child {
    margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
}

.social-links {
  text-align: center;
}

.social-link {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  border: 2px solid #333;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.social-link:hover {
  background-color: #333;
  color: #fff;
}
